*, *::before, *::after {
    box-sizing: border-box;
}
 
body {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f0ffff;
}
  
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(https://miro.medium.com/max/4800/1*M4-jlu-Y0UrSMx_ynfDxwQ.jpeg);
    background-size: cover;
}
  
  
.container {
    width: 100%;
    margin: 3rem auto 0 auto;
}
  
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
  
.header {
    padding: 0 0.5rem;
    margin-bottom: 1.875rem;
}
  
h1 {
    font-weight: 400;
    line-height: 1.2;
}
  
p {
    font-size: 1rem;
}
  
.description {
    font-style: italic;
    font-weight: 200;
}
  
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
  
form {
    background: rgba(105, 105, 105, 0.9);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}
  
@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}
  
.form-group-1 {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
  
.form-group-2 {
    display: block;
    width: 100%;
    height: 2.5rem;
}
  
.text-area-1 {
    min-height: 120px;
    width: 100%;
    padding: 0.75rem;
    resize: vertical;
}
  
button {
    border: none;
}
  
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #000000;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}
  